@property --num {
	syntax: "<integer>";
	initial-value: 0;
	inherits: true;
}

.counter-hide {
}

.counter-show {
	/* config */
	--time: 500ms;
	--animation-delay: calc(var(--time) * var(--i));

	/* animation */
	animation: counter 5s 1 forwards ease-in-out;
	animation-delay: var(--animation-delay);

	/* counting */
	counter-reset: num var(--num);
}

.counter-show::after {
	content: counter(num);
}

@keyframes counter {
	from {
		--num: 0;
	}
	to {
		--num: 100;
	}
}
