.typed-hide {
	visibility: hidden;
}

.typed-show pre {
	--time: 1.2s;
	--delay: calc(var(--i) * var(--time));

	overflow: hidden;
	animation-name: typing;
	animation-duration: 2s;
	animation-timing-function: steps(200, end);
	animation-iteration-count: 1;

	animation-delay: var(--delay);
	visibility: hidden;
	animation-fill-mode: forwards;
}

@keyframes typing {
	from {
		width: 0;
	}
	to {
		width: 100%;
		visibility: visible;
	}
}
