---
import Layout from "@layouts/layout.astro";
import Container from "@components/container.astro";
---

<Layout title="404 Not Found">
	<Container>
		<h1 class="h1">404</h1>
		<p class="">Page not found.</p>
	</Container>
</Layout>
