---
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";

// TODO: fix the layout (Jakub Jirous 2023-07-08 08:33:54)
---

<Layout title="404 Not Found">
	<Container>
		<h1 class="h1">404</h1>
		<p class="">Page not found.</p>
	</Container>
</Layout>
