---
import markupLeftArt from "../assets/markup-left.svg";
import markupRightArt from "../assets/markup-right.svg";

export interface Props {
	class?: string;
	isHero?: boolean;
}

const { class: className, isHero } = Astro.props;
---

<div class:list={["art-box", className]}>
	<div class="art-box-group">
		<img
			src={markupLeftArt.src}
			alt="First markup art"
			class="art-box-image-1st mt-40"
		/>
		<img
			src={markupRightArt.src}
			alt="Second markup art"
			class="art-box-image-2nd"
		/>
	</div>
	<div class="art-box-blurry-group">
		<div class="art-box-blurry-1st"></div>
		<div class="art-box-blurry-2nd"></div>
	</div>
</div>
