---
export interface Props {
	class?: string;
	noPadding: boolean;
}

const { class: className, noPadding } = Astro.props;
---

<div
	class:list={[
		`container mx-auto ${noPadding ? "" : "px-4 tablet:px-6"}`,
		className,
	]}
>
	<slot />
</div>
