---
import Container from "./container.astro";
---

<footer class="footer">
	<Container class="footer-container">
		<p class="footer-content">
			This is a design test by Jakub Jirous for Monogram.
		</p>
		<p class="typo-ascii animate-bounce">❤</p>
	</Container>
</footer>
