---
import Container from "./container.astro";
---

<footer class="bg-dark-grey">
	<Container
		class="flex flex-col justify-center items-center min-h-[22.5rem] tablet:min-h-[30rem] desktop:min-h-[34.81rem]"
	>
		<p class="typo-body2 text-white text-center">
			This is a design test by Jakub Jirous for Monogram.
		</p>
		<p class="typo-ascii">❤</p>
	</Container>
</footer>
