---
import ellipse from "../assets/score-ellipse.svg";

export interface Props {
	wrapperClass?: string;
	imgClass?: string;
	scoreClass?: string;
}

const {
	wrapperClass: wrapperClassName,
	imgClass: imgClassName,
	scoreClass: scoreClassName,
} = Astro.props;
---

<div class:list={["score", wrapperClassName]}>
	<img
		src={ellipse.src}
		alt="Score ellipse"
		class:list={["absolute h-full w-auto", imgClassName]}
	/>

	<div class:list={["typo-score score-shadow", scoreClassName]}>
		<slot />
	</div>
</div>
