---
import ArtBox from "./art-box.astro";
import Brick from "./brick.astro";
import Container from "./container.astro";
import Section from "./section.astro";
---

<Section class="markup">
	<Container>
		<div class="flex flex-col desktop:flex-row desktop:gap-8">
			<div class="flex flex-col desktop:basis-1/2">
				<h2 class="markup-heading scroll-hide">Markup</h2>
				<p class="markup-content scroll-hide delay-200">
					When ready for deployment, a static-site generator such as Astro or
					Next.js is used to compile the website. The end result is a collection
					of pre-rendered HTML pages that can be delivered lightning-fast over a
					CDN like Vercel’s Edge Network.
				</p>
			</div>

			<ArtBox class="desktop:basis-1/2" />
		</div>
	</Container>

	<div class="wall">
		<Brick
			svgClass="fill-endeavour"
			wrapperClass="absolute bottom-0 brick-1st-hide delay-[1300ms]"
		/>
		<Brick
			svgClass="fill-thunderbird"
			wrapperClass="absolute bottom-0 brick-2nd-hide delay-[1250ms]"
		/>
		<Brick
			svgClass="fill-koromiko"
			wrapperClass="absolute bottom-0 brick-3rd-hide delay-[1200ms]"
		/>

		<div class="wall-row">
			<Brick
				svgClass="fill-transparent"
				wrapperClass="brick-hide delay-[850ms]"
			/>
			<Brick
				svgClass="fill-endeavour"
				wrapperClass="brick-hide delay-[800ms]"
			/>
			<Brick svgClass="fill-koromiko" wrapperClass="brick-hide delay-[750ms]" />
		</div>
		<div class="wall-row">
			<Brick
				svgClass="fill-thunderbird opacity-60"
				wrapperClass="brick-hide delay-[700ms]"
			/>
			<Brick
				svgClass="fill-koromiko opacity-60"
				wrapperClass="brick-hide delay-[650ms]"
			/>
			<Brick
				svgClass="fill-black opacity-60"
				wrapperClass="brick-hide delay-[600ms]"
			/>
			<Brick
				svgClass="fill-thunderbird opacity-60"
				wrapperClass="brick-hide delay-[550ms]"
			/>
		</div>
		<div class="wall-row">
			<Brick
				svgClass="fill-black opacity-30"
				wrapperClass="brick-hide delay-[500ms]"
			/>
			<Brick
				svgClass="fill-endeavour opacity-30"
				wrapperClass="brick-hide delay-[450ms]"
			/>
			<Brick
				svgClass="fill-gull-gray opacity-30"
				wrapperClass="brick-hide delay-[400ms]"
			/>
			<Brick
				svgClass="fill-endeavour opacity-30"
				wrapperClass="brick-hide delay-[350ms]"
			/>
			<Brick
				svgClass="fill-koromiko opacity-30"
				wrapperClass="brick-hide delay-[300ms]"
			/>
		</div>
		<div class="wall-row">
			<Brick
				svgClass="fill-thunderbird opacity-20"
				wrapperClass="brick-hide delay-[250ms]"
			/>
			<Brick
				svgClass="fill-koromiko opacity-20"
				wrapperClass="brick-hide delay-[200ms]"
			/>
			<Brick
				svgClass="fill-black opacity-20"
				wrapperClass="brick-hide delay-[150ms]"
			/>
			<Brick
				svgClass="fill-endeavour opacity-20"
				wrapperClass="brick-hide delay-[100ms]"
			/>
			<Brick
				svgClass="fill-koromiko opacity-20"
				wrapperClass="brick-hide delay-[50ms]"
			/>
			<Brick svgClass="fill-thunderbird opacity-20" wrapperClass="brick-hide" />
		</div>
	</div>
</Section>
