---
import Section from "./section.astro";

import wave from "../assets/bg-wave.svg";
---

<Section class="wave">
	<img
		src={wave.src}
		width={1279}
		height={1315}
		alt="Wave"
		class="wave-pattern"
	/>
</Section>
