---
import Container from "./container.astro";
import Score from "./score.astro";
import Section from "./section.astro";
---

<Section class="bg-dark-grey">
	<Container>
		<div class="audit-card">
			<h3 class="typo-h2 text-center">Top Audit Scores</h3>
			<div class="audit-card-ellipse-box">
				<Score>100</Score>
				<Score>100</Score>
				<Score imgClass="opacity-30">100</Score>
				<Score>100</Score>
			</div>
			<div class="audit-card-content">
				<p class="typo-body1">
					Search engines, business stakeholders, and end-users gauge
					a&nbsp;website’s value using metric tools like Google Lighthouse,
					which measures site performance, SEO, and accessibility.
				</p>
				<p class="typo-body1">
					Performance is one of the most difficult scores to get to 100. This is
					especially true in a time when users demand JavaScript-heavy,
					highly-interactive web experiences.
				</p>
				<p class="typo-body1">
					A Jamstack website, delivering SEO-friendly, lean & clean HTML in
					milliseconds, promises higher search-engine ranking and a more
					positive, responsive end-user experience.
				</p>
			</div>
		</div>
	</Container>
</Section>
