---
import Container from "./container.astro";
import Section from "./section.astro";

import arrow from "../assets/arrow-hero.svg";
---

<Section class="hero">
  <Container>
    <h1 class="typo-h1 tablet:text-left">
      Jamstack <span class="text-red-500">101</span>
    </h1>

    <p class="typo-small">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Arcu augue
      massa, tincidunt proin nunc viverra tristique tempor, ipsum. At lectus
      vel pretium tempor ut dui vivamus sit.
    </p>
  </Container>
</Section>
