---
import Section from "./section.astro";

import sphere from "../assets/sphere.svg";
---

<Section class="globe">
	<img
		src={sphere.src}
		width={1279}
		height={1315}
		alt="Sphere"
		class="globe-sphere"
	/>
</Section>
