---
import ArtBox from "./art-box.astro";
import Brick from "./brick.astro";
import Container from "./container.astro";
import Section from "./section.astro";
---

<Section class="markup">
	<Container>
		<div class="flex flex-col desktop:flex-row desktop:gap-8">
			<div class="flex flex-col desktop:basis-1/2">
				<h2 class="typo-h1 tablet:text-left">Markup</h2>
				<p class="markup-content">
					When ready for deployment, a static-site generator such as Astro or
					Next.js is used to compile the website. The end result is a collection
					of pre-rendered HTML pages that can be delivered lightning-fast over a
					CDN like Vercel’s Edge Network.
				</p>
			</div>

			<ArtBox class="desktop:basis-1/2" />
		</div>
	</Container>

	<div class="wall">
		<Brick
			svgClass="fill-endeavour"
			wrapperClass="absolute bottom-0 translate-y-[-35.7rem] translate-x-[-22rem] rotate-[-16.914deg]"
		/>
		<Brick
			svgClass="fill-thunderbird"
			wrapperClass="absolute bottom-0 translate-y-[-22.53rem] translate-x-[-32rem] rotate-[14.162deg] "
		/>
		<Brick
			svgClass="fill-koromiko"
			wrapperClass="absolute bottom-0 translate-y-[-23rem] translate-x-[-11rem] rotate-[-58.552deg]"
		/>

		<div class="wall-row">
			<Brick svgClass="fill-transparent" />
			<Brick svgClass="fill-endeavour" />
			<Brick svgClass="fill-koromiko" />
		</div>
		<div class="wall-row">
			<Brick svgClass="fill-thunderbird opacity-60" />
			<Brick svgClass="fill-koromiko opacity-60" />
			<Brick svgClass="fill-black opacity-60" />
			<Brick svgClass="fill-thunderbird opacity-60" />
		</div>
		<div class="wall-row">
			<Brick svgClass="fill-black opacity-30" />
			<Brick svgClass="fill-endeavour opacity-30" />
			<Brick svgClass="fill-gull-gray opacity-30" />
			<Brick svgClass="fill-endeavour opacity-30" />
			<Brick svgClass="fill-koromiko opacity-30" />
		</div>
		<div class="wall-row">
			<Brick svgClass="fill-thunderbird opacity-20" />
			<Brick svgClass="fill-koromiko opacity-20" />
			<Brick svgClass="fill-black opacity-20" />
			<Brick svgClass="fill-endeavour opacity-20" />
			<Brick svgClass="fill-koromiko opacity-20" />
			<Brick svgClass="fill-thunderbird opacity-20" />
		</div>
	</div>
</Section>
