---
import Container from "./container.astro";
import Section from "./section.astro";
---

<Section class="api">
  <Container>
    <h2 class="typo-h1 text-white text-center">API</h2>
    <p class="api-content">
      At build time, a Jamstack website uses data from one or more APIs to
      generate markup. These APIs can be a headless CMS like Prismic, a
      database like Supabase, or even a local JSON file!
    </p>
  </Container>
</Section>
