---
import Container from "./container.astro";
import Score from "./score.astro";
import Section from "./section.astro";
---

<Section class="audit">
	<Container>
		<div class="audit-card">
			<h3 class="audit-heading scroll-hide">Top Audit Scores</h3>
			<div class="audit-score-box">
				<Score
					wrapperClass="scroll-hide delay-[200ms]"
					imgClass="animate-pulse"
				>
					100
				</Score>
				<Score
					wrapperClass="scroll-hide delay-[400ms]"
					imgClass="animate-pulse"
				>
					100
				</Score>
				<Score wrapperClass="scroll-hide delay-[600ms]" imgClass="opacity-30">
					100
				</Score>
				<Score
					wrapperClass="scroll-hide delay-[800ms]"
					imgClass="animate-pulse"
				>
					100
				</Score>
			</div>
			<div class="audit-content scroll-hide delay-[1s]">
				<p class="typo-body1">
					Search engines, business stakeholders, and end-users gauge
					a&nbsp;website’s value using metric tools like Google Lighthouse,
					which measures site performance, SEO, and accessibility.
				</p>
				<p class="typo-body1">
					Performance is one of the most difficult scores to get to 100. This is
					especially true in a time when users demand JavaScript-heavy,
					highly-interactive web experiences.
				</p>
				<p class="typo-body1">
					A Jamstack website, delivering SEO-friendly, lean & clean HTML in
					milliseconds, promises higher search-engine ranking and a more
					positive, responsive end-user experience.
				</p>
			</div>
		</div>
	</Container>
</Section>
