.audit {
	/* default */
	@apply bg-dark-grey;
}

.audit-heading {
	/* default */
	@apply typo-h2;
	@apply text-center;
}

.audit-card {
	@apply relative z-50;

	/* border radius */
	@apply rounded-68;

	/* padding */
	@apply px-8;
	@apply pt-14 tablet:pt-20 desktop:pt-28;
	@apply pb-40 tablet:pb-48 desktop:pb-56;

	background: linear-gradient(
		346deg,
		rgba(255, 255, 255, 0.02) 0%,
		rgba(123, 245, 93, 0.11) 100%
	);

	@apply backdrop-blur-60;

	/* translate Y */
	@apply translate-y-[-4.25rem];
}

.audit-content {
	/* flex */
	@apply flex flex-col gap-8;

	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-image: linear-gradient(135deg, #8bbd7f, #6f6f6f);

	/* width */
	@apply max-w-[47.25rem] mx-auto;
}

.audit-score-box {
	/* flex */
	@apply flex justify-center;
	@apply flex-col tablet:flex-row;
	@apply flex-wrap desktop:flex-nowrap;
	@apply gap-14 tablet:gap-16 desktop:gap-14;

	/* padding */
	@apply tablet:px-16;

	/* margin */
	@apply mt-20 mb-24;
	@apply desktop:mt-24 desktop:mb-28;
}
