---
import { SEO } from "astro-seo";
import Footer from "@components/footer.astro";
import "@fontsource-variable/inter";
import "../theme/globals.css";

export interface Props {
	title?: string;
}

const canonicalURL = new URL(Astro.url.pathname, Astro.site).toString();

const resolvedImageWithDomain = new URL(
	"/opengraph.jpg",
	Astro.site
).toString();

const { title } = Astro.props;

const seoTitle = title ? `${title} | Monogram Exercise` : "Monogram Exercise";
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" href="/favicon.ico" />
		<link
			rel="preload"
			href="https://prod.spline.design/Q8gJIB6FoodYWF3w/scene.splinecode"
			as="fetch"
		/>

		<meta name="generator" content={Astro.generator} />

		<SEO
			title={seoTitle}
			description="Front-End Development Exercise for Monogram.io"
			canonical={canonicalURL}
			twitter={{
				creator: "@jakubjirous",
				site: "@monogram-exercise",
				card: "summary_large_image",
			}}
			openGraph={{
				basic: {
					url: canonicalURL,
					type: "website",
					title: seoTitle,
					image: resolvedImageWithDomain,
				},
				image: {
					alt: seoTitle,
				},
			}}
		/>
	</head>
	<body>
		<main>
			<slot />
		</main>
		<Footer />
	</body>
</html>
